<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Add Articles</title>-->
<!--    <link rel="stylesheet" th:href="@{/css/style.css}">-->
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">-->

<!--</head>-->

<head th:replace="fragments/header :: myHeader">
    <title>Update</title>
</head>

<body>

<header th:replace="fragments/header :: menu">
</header>

    <div class="container">
        <h1>Add an article</h1>
        <hr>
        <form th:action="@{/admin/save}"
              th:object="${article}" method="post", enctype="multipart/form-data">

<!--            add hidden form field to handle update-->
            <input type="hidden" th:field="*{id}">

<!--            <input type="text" th:field="*{category}" class="form-control mb-2 w-50" placeholder="Categorie">-->

            <label for="category">Discipline : </label>
            <select id="category" th:field="*{category}" name="category">
                <option value="Alpinisme">Alpinisme</option>
                <option value="Escalade">Escalade</option>
                <option value="Ski hors Piste">Ski hors Piste</option>
                <option value="Ski De Rando">Ski De Rando</option>
                <option value="Cascade de Glace">Cascade de Glace</option>
                <option value="Trek">Trek</option>
            </select>

            <input type="text" th:field="*{title}" class="form-control mb-2 w-50" placeholder="Titre">
            <input type="date" th:field="*{date}" class="form-control mb-2 w-50" placeholder="Date">
            <textarea type="text" th:field="*{content}" class="form-control mb-2 w-50" placeholder="Description"></textarea>
            <input type="file" th:field="*{picture}" name="files" class="form-control mb-2 w-50" multiple>

            <label for="price">Prix</label>
            <input type="number" th:field="*{price}" id="price" name="price" class="form-control mb-2 w-50" placeholder="Prix">

            <label for="level">Niveau: </label>
            <select id="level" th:field="*{level}" name="duration">
                <option value="Tous">Tous</option>
                <option value="Découverte">Découverte</option>
                <option value="Intermédiaire">Intermédiaire</option>
                <option value="Avancé">Avancé</option>
            </select>
            <br>
<!--             <input type="text" th:field="*{level}" name="price" class="form-control mb-2 w-50" placeholder="Niveau">-->

<!--            <label for="duration">Durée en jours</label>-->

<!--            <input type="number" th:field="*{duration}" id="duration" name="price" class="form-control mb-2 w-50" step="0.5">-->

            <label for="duration">Durée: </label>
            <select id="duration" th:field="*{duration}" name="duration">
                <option value="1/2 jour">1/2 jour</option>
                <option value="1 jour">1 jour</option>
                <option value="2 jours">2 jours</option>
                <option value="3 jours">3 jours</option>
            </select>
            <br>
            <br>

            <button type="submit" class="btn btn-info">Enregister</button>
        </form>

        <!--<form method="POST" action="/upload" enctype="multipart/form-data">
            <input type="file" name="files" multiple/><br/><br/>
            <input type="submit" value="Submit files" />
        </form> -->

        <hr>
        <a th:href="@{/admin/list}">Retour</a>
    </div>
    <footer th:replace="fragments/footer :: foot"></footer>
</body>
</html>