<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

</head>
<body>
    <header>
        <div th:replace="fragments/header :: menu"></div>
    </header>
    <div class="container">

        <h1>News </h1>

        <hr>

        <!-- add an article-->
        <a th:href="@{/admin/showFormForAdd}" class="btn btn-primary mb-3">Créer</a>

        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th>Category</th>
                <th>Title</th>
                <th>Content</th>
                <th>Image</th>
                <th colspan="2" class="text-center">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="tempArticle : ${articles}">
                <td th:text="${tempArticle.id}"></td>
                <td th:text="${tempArticle.title}"></td>
                <td th:text="${tempArticle.content}"></td>
                <td>
                    <!--<img th:src="${tempArticle.picture}" alt="pic" width="120">-->
                    <img th:src="@{/photos/article/} + ${tempArticle.id} + .jpg" alt="pic" width="170">
                </td>
                <td><a th:href="@{/admin/showFormForUpdate(articleId=${tempArticle.id})}" class="btn btn-primary">Update</a> </td>
                <td><a th:href="@{/admin/delete(articleId=${tempArticle.id})}" class="btn btn-danger"
                       onclick="if (!(confirm('Are you sure you want to delete this article ?'))) return false"
                >Delete</a> </td>
            </tr>
            </tbody>
        </table>

        <!-- Add a logout button -->
        <form action="#" th:action="@{/logout}"
              method="POST">

            <input type="submit" value="Logout" class="btn btn-outline-primary mt-2" />

        </form>
    </div>
</body>
</html>