<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: myHeader">
    <title>Details</title>
</head>
<header class="bg-light">

    <nav class="navbar navbar-expand-md fixed-top navbar-light bg-light">
        <a class="navbar-brand" th:href="@{/index}">LOGO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/index}" th:text="#{home-title}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/stages}" th:text="#{trainings-title}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/actus}" th:text="#{news-title}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/photos}" th:text="#{pics-title}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/contact}" th:text="#{contact-title}"></a>
                </li>
            </ul>

        </div>
    </nav>
</header>
<body>

<div class="container trainings-container">

<!--    d-flex justify-content-between flex-wrap -->

    <div class="row mx-auto">
        <div class="col-sm-12 col-md-5">
            <h1 th:if="__${#locale.language}__=='en'" th:text="${article.englishTitle}">
            </h1>
            <h1 th:if="__${#locale.language}__=='fr'" th:text="${article.title}">
            </h1>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Blanditiis deleniti dignissimos dolorum hic
                incidunt iusto laudantium nisi omnis soluta sunt! Amet commodi dolores enim eveniet officia,
                recusandae saepe sunt vel.</p>
        </div>

        <div class="col-sm-12 col-md-7">
<!--            <img th:src="@{article.picture}" width="700" alt="">-->
            <img class="img-fluid" th:src="@{/images/} + ${article.id} + .jpg" alt="picture" width="640" height="400">
        </div>

        <div class="col-12 mt-5 text-center">
            <hr class="m-5">
<!--            <h2 class="mb-3"> [ tous les détails de l'activité ici ]</h2>-->

<!--            <div th:switch="__${#locale.language}__">-->
<!--                <h4 th:case="en">[English]</h4>-->
<!--                <h4 th:case="fr">[français]</h4>-->
<!--            </div>-->

            <div class=""th:if="__${#locale.language}__=='fr'" >

                <h2 th:text="${article.title}"></h2>
                <h3>Catégorie: <span th:text="${article.category}"></span></h3>

                <h3>Le <span th:text="${#temporals.format(article.date, 'dd-MM-yyyy')}"></span></h3>

                <h3>Description: <span th:text="${article.content}"></span></h3>

                <h3>Niveau: <span th:text="${article.level}"></span></h3>
                <h3>Durée: <span th:text="${article.duration}"></span>Jour(s)</h3>

                <h3>Prix/personne:
                    <span th:text="${article.price}"></span> €
                </h3>

                <button class="btn btn-primary">Réserver !</button>

            </div>

            <div class="" th:if="__${#locale.language}__=='en'" >

                <h2 th:text="${article.englishTitle}"></h2>
                <h3>Category: <span th:text="${article.englishCategory}"></span></h3>

                <h3>Date: <span th:text="${#temporals.format(article.date, 'dd-MM-yyyy')}"></span></h3>

                <h3>Description: <span th:text="${article.englishContent}"></span></h3>

                <h3>Level: <span th:text="${article.englishLevel}"></span></h3>
                <h3>Duration: <span th:text="${article.duration}"></span> Day(s)</h3>

                <h3>Price/person:
                    <span th:text="${article.price}"></span> €
                </h3>

                <button class="btn btn-primary">Reservation !</button>
            </div>

            </div>


    </div>

</div>
    <footer th:replace="fragments/footer :: foot"></footer>
</body>
</html>