
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head th:fragment="myHeader">
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <link rel="stylesheet" th:href="@{/css/style.css}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    </head>
<body>
    <div th:fragment="menu">

        <header class="bg-light">

            <nav class="navbar navbar-expand-md fixed-top navbar-light bg-light">
                <a class="navbar-brand" th:href="@{/index}">LOGO</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="nav navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" th:href="@{/index}" th:text="#{home-title}"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/stages}" th:text="#{trainings-title}"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/actus}" th:text="#{news-title}"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/photos}" th:text="#{pics-title}"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/contact}" th:text="#{contact-title}"></a>
                        </li>
                    </ul>

                    <a th:href="@{?lang=en}">
                        <img th:src="@{img/en.png}" alt="English" width="26" class="lang-switch"
                             title="Switch to English">
                    </a>
                    <a th:href="@{?lang=fr}">
                        <img th:src="@{img/fr.png}" alt="French" width="26"
                             class="lang-switch" title="Texte en Français">
                    </a>

                </div>
            </nav>
           </header>

    </div>

</body>
</html>

