<!Doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: myHeader">
    <title>Actus</title>
</head>
<body>
<header>
    <div th:replace="fragments/header :: menu"></div>
</header>


<div class="container text-center">
    <h1 th:text="#{news-page-title}"></h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem consectetur corporis, dolorem ducimus, eum, ex illo illum in maxime modi nisi obcaecati possimus quam quia vel! Alias autem esse sed?</p>
</div>

<footer th:replace="fragments/footer :: foot"></footer>
</body>
</html>