body{
   margin:0;padding:0;
   box-sizing: border-box;
   background: url("../img/body-bg.jpg") no-repeat center;
   background-attachment: fixed;
   background-size: cover;
   margin-top:-80px;
}
html {
  scroll-behavior: smooth;
}

@font-face {
    font-family:'Escape';
    src: local('Vtks Escape'),
     url('../fonts/escape/Escape.ttf') format('truetype');
     font-weight: normal;
     font-style: normal;
}
@font-face {
    font-family:'Snowby';
    src: local('Snowby'),
     url('../fonts/snowby/SnowTraces.ttf') format('truetype');
     font-weight: normal;
     font-style: normal;
}

@font-face {
    font-family: "Beantown";
    src: url("../fonts/beantown/Beantown.ttf") format("truetype");
     font-weight: normal;
     font-style: normal;
}

/*  containers of different pages*/
.container, .home-container, .album-container{
    margin: 180px auto 120px auto;
}

/* NAV BAR */
nav ul {
    width:74%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

/* HOME PAGE */
.home-body{
    background: url("../img/back2.jpg") no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    margin-top:-80px;
}
.home-body nav ul li a{
    color: #fff;
}
.home-body nav ul li a:hover{
    color: #aaa;
}
.home-container{
    width: 94%;
    margin: auto;
}

.home-container>h1{
    padding-top: 220px;
    color:#fff;
    font-family: Snowby;
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 4.5rem;
}
.home-container>h2{
    font-size: 1.6rem;
    color:#fff;
}
.next-activities-link{
    width: 200px;
    margin:auto;
    text-align:center;
    background-color: #fff;
    border-radius: 20px;
}

/* ACTIVITIES LIST on HOME PAGE*/
#next-activities{
    margin-top: 20%;
}
.next-activities{
    width: 74%;
    padding: 30px 60px;
    background-color: rgba(70,130,180, .65);
    margin:auto;
    margin-top: 25%;
}

.next-activities-content, .event-links{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 60%;
    margin:auto;
}

.next-activities-content>article{
    width: 40%;
    margin:auto;
}
 .event-links{
    width: 40%;
 }
.event-links>a{
    background-color: #fff;
    padding: 8px 14px;
    width:200px;
    text-align: center;
}


/* PHOTOS */
.album-container{
    width: 80%;
}
.photos-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.album{
    min-width:50%;
    margin:auto;
    padding: 10px;
}



footer{
    margin-top: 50vh;
}


/*
/*sliders
.slider01-act{
    width: 300px;
    border: solid 1px #ccc;
    border-radius: 10px;
    padding: 5px;
}
.slider01-act>img{
    width: 90%;
    margin:auto;
}
.slider01-act>img:hover{
    transform:scale(1.06);
    transition: 1s;
    cursor: pointer;
}
.slider01{
    display: none;
    width: 100%;
    margin: auto;
    padding:10px;
    transition: 1s;
}
.close-slider{
    right: 2px;
    color: #333;
}
.close-slider:hover{
    cursor: pointer;
    color: red;
}*/
