body{
   margin:0;padding:0;
   box-sizing: border-box;
   /*background: url("../img/body-bg.jpg") no-repeat center;*/
 /*  background-attachment: fixed;
   background-size: cover;*/
   margin-top:-80px;
   background-color:#f8f9fa;
}
html {
  scroll-behavior: smooth;
}
h1{
   font-family: Escape;
   color: rgba(70,130,180, 1);
}
@font-face {
    font-family:'Escape';
    src: local('Vtks Escape'),
     url('../fonts/escape/Escape.ttf') format('truetype');
     font-weight: normal;
     font-style: normal;
}
@font-face {
    font-family:'Snowby';
    src: local('Snowby'),
     url('../fonts/snowby/SnowTraces.ttf') format('truetype');
     font-weight: normal;
     font-style: normal;
}

@font-face {
    font-family: "Beantown";
    src: url("../fonts/beantown/Beantown.ttf") format("truetype");
     font-weight: normal;
     font-style: normal;
}

/*  containers of different pages*/
.container, .home-container, .album-container{
    margin: 180px auto 120px auto;
}

/* NAV BAR */
nav ul {
    width:74%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

/* HOME PAGE */
.home-body{
    background: url("../img/back2.jpg") no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    margin-top:-80px;
}
.home-body>header>nav{
    transition: background-color .4s ease;
}
@media screen and (max-width: 740px){
    .home-body>header>nav{
        background-color: rgba( 42, 82, 141, 1);
    }
}
nav ul li{
    width: 86px;
    text-align: center;
}
nav ul li .active{
    background-color: rgba(0,0,0,.03) !important;
}

.home-container{
    width: 94%;
    margin: auto;
}

.home-container>h1{
    padding-top: 220px;
    color:#fff;
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 4.5rem;
}
.home-container>h2{
    font-size: 1.6rem;
    color:#fff;
}
.next-activities-link{
    width: 200px;
    margin:auto;
    text-align:center;
    background-color: #fff;
    border-radius: 20px;
}

/* ACTIVITIES LIST on HOME PAGE*/

/*anchor */
#next-activities{
    margin-top: 20%;
    margin-bottom:-200px;
}

/* list of activities to come*/
.next-activities{
    width: 74%;
    padding: 30px 60px;
    background-color: rgba(70,130,180, .65);
    margin:auto;
    margin-top: 25%;
}
.next-activities article{
   display:flex;
   flex-direction: column;
   align-items: center;
}
.next-activities article>p{
     width: 340px;
}
.next-activities article>h5{
    font-style: italic;
}
.next-activities article .details-links{
    margin-top: 30px;
}
.next-activities article .details-links a{
    background-color: #333;
    color: #fff;
    width: 200px;
    padding: 8px;
    margin: 8px auto;
}
 .event-links{
    width: 74%;
    margin:auto;
 }
.event-links>a{
    background-color: #fff;
    padding: 8px 14px;
    width:200px;
    text-align: center;
}

/*Trainings list page*/

.trainings-container h2{
    text-transform: uppercase;
}
.trainings-container h3{
    text-align: left;
    font-size: 1.2rem;
}

.training{
    margin-top: 50px;
}

/* TRAININGS DETAILS */
.training-levels-duration ul{
    margin-left: -40px;
}

.training-levels-duration ul>li{
    list-style-type: none;
    background-color: rgba(70,130,180, .3);
    border: 1px solid #f8f9fa;
    margin:0;
    padding:4px 12px;
}

.detail-activities{
    background-color: rgba(70,130,180, .3);
    width: 100%;
    margin:auto;
}

.detail-activities>article>p{
     width: 340px;
}
.detail-activities>article>h5{
    font-style: italic;
}
.detail-activity-price{
    /*background-color: #333;*/
    border: solid 1 px #333;
    color: #fff;
    padding: 6px 0;
}

.detail-activities>article .details-link{
    background-color: #fff;
    width:200px;
    padding: 8px 14px;
}

/* PHOTOS */
.album-container{
    width: 80%;
}
.photos-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.album{
    min-width:50%;
    margin:auto;
    padding: 10px;
}

footer{
    margin-top: 50vh;
}


/*
/*sliders
.slider01-act{
    width: 300px;
    border: solid 1px #ccc;
    border-radius: 10px;
    padding: 5px;
}
.slider01-act>img{
    width: 90%;
    margin:auto;
}
.slider01-act>img:hover{
    transform:scale(1.06);
    transition: 1s;
    cursor: pointer;
}
.slider01{
    display: none;
    width: 100%;
    margin: auto;
    padding:10px;
    transition: 1s;
}
.close-slider{
    right: 2px;
    color: #333;
}
.close-slider:hover{
    cursor: pointer;
    color: red;
}*/
