<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <div th:replace="fragments/header :: myHeader"></div>
    <title>Actus</title>
</head>
<body>
<header>
    <div th:replace="fragments/header :: menu"></div>
</header>


<div class="container text-center">
     <article class="article" th:each="tempArticle : ${articles}">
        <h1 th:text="${tempArticle.category}"></h1>
        <h2 th:text="${tempArticle.title}"></h2>
        <p th:text="${tempArticle.content}"></p>
<!--        <img th:src="${tempArticle.picture}" alt="pic" width="420">-->
         <img th:src="@{/photos/article/} + ${tempArticle.id} + .jpg" alt="picture" width="420">
         <hr>
     </article>
</div>

<div th:replace="fragments/footer :: foot"></div>
</body>
</html>