<meta http-equiv="refresh"
      content="0; url='home'">


<!--<!doctype html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--&lt;!&ndash;    <meta charset="UTF-8">&ndash;&gt;-->
<!--&lt;!&ndash;    <meta name="viewport"&ndash;&gt;-->
<!--&lt;!&ndash;          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">&ndash;&gt;-->
<!--&lt;!&ndash;    <meta http-equiv="X-UA-Compatible" content="ie=edge">&ndash;&gt;-->
<!--&lt;!&ndash;    <link rel="stylesheet" th:href="@{/css/style.css}">&ndash;&gt;-->
<!--&lt;!&ndash;    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">&ndash;&gt;-->
<!--    <div th:replace="fragments/header :: myHeader"></div>-->
<!--    <title>C bow la montagne</title>-->

<!--</head>-->
<!--<body>-->
<!--<header class="bg-light">-->
<!--    <ul class="d-flex justify-content-around">-->
<!--        <li>Home</li>-->
<!--        <li>Stages</li>-->
<!--        <li><a th:href="@{/articles/actus}">Actus</a> </li>-->
<!--        <li>Photos</li>-->
<!--    </ul>-->
<!--</header>-->

<!--<footer class="bg-dark">-->
<!--    <a th:href="@{/articles/list}" class="m-5" >Admin</a>-->
<!--</footer>-->
<!--</body>-->
<!--</html>-->