<!Doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/header :: myHeader">
    <title th:text="#{home-title}"></title>
</head>
<body>
<div class="home-body">
    <header>
        <!--    <div th:replace="fragments/header :: menu"></div>-->
        <nav class="navbar navbar-expand-md fixed-top navbar-dark">
            <a class="navbar-brand" th:href="@{/index}">LOGO</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/index}" th:text="#{home-title}"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/stages}" th:text="#{trainings-title}"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/actus}" th:text="#{news-title}"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/photos}" th:text="#{pics-title}"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/contact}" th:text="#{contact-title}"></a>
                    </li>
                </ul>
                <a th:href="@{?lang=en}">
                    <img th:src="@{img/en.png}" alt="English" width="26" class="lang-switch"
                         title="Switch to English">
                </a>
                <a th:href="@{?lang=fr}">
                    <img th:src="@{img/fr.png}" alt="French" width="26"
                         class="lang-switch" title="Texte en Français">
                </a>
            </div>
        </nav>
    </header>


    <div class="text-center home-container">

        <h1 class="text-center">Yoann Georges</h1>
        <h2 th:text="#{main-title.text}" class="text-center">
<!--            <i class="fas fa-skiing"></i>&nbsp;&nbsp;-->
<!--         &nbsp;&nbsp; <i class="fas fa-quidditch"></i>-->
            Welcome
        </h2>


        <p class="mt-5 p-5 w-50 text-center text-white m-auto">Cum saepe multa, tum memini domi in hemicyclio sedentem, ut solebat,
            cum et ego essem una et pauci admodum familiares, in eum sermonem illum incidere qui tum forte multis erat in ore.
            Meministi enim profecto, Attice, et eo magis, quod P. Sulpicio utebare multum, cum is tribunus plebis capitali odio a
            Q. Pompeio, qui tum erat consul, dissideret,
            quocum coniunctissime et amantissime vixerat, quanta esset hominum vel admiratio vel querella.</p>
    </div>

<!--    link to the activities to come, scroll down -->
    <div class="next-activities-link">
        <a href="#next-activities"> <span th:text="#{next-trainings-title}"> </span>
            <br>
            <i class="fas fa-arrow-circle-down"></i>
        </a>
    </div>

<!--    anchor for link-->
    <div id="next-activities" class="mb-2"></div>

<!--    list of activities to come-->
    <section class="next-activities text-white mt-5">
        <h2 th:text="#{next-trainings-title}"></h2>
        <hr class="bg-light">

            <div class="row" >
                <div class="card col-lg-4 col-md-12" th:each="article : ${articles}">
<!--                    <a th:href="@{/detail(id=${article.id})}" class="text-white card-link">-->
                        <div class="card-body">



                            <h4 th:if="__${#locale.language}__=='fr'">
                                <i class="fas fa-location-arrow arrowhead mr-2"></i>
                                <span class="card-title" th:text="${article.title}"></span>
                            </h4>
                            <h4 class="card-title" th:if="__${#locale.language}__=='en'">
                                <i class="fas fa-location-arrow arrowhead mr-2"></i>
                                <span th:text="${article.englishTitle}"></span>


                            </h4>
                            <h5><i class="far fa-calendar-alt mr-2"></i>
                                <span th:text="${#temporals.format(article.date, 'dd-MM-yyyy')}"></span>
                            </h5>
                            <p class="card-text" th:if="__${#locale.language}__=='fr'" th:text="${article.content}"></p>
                            <p class="card-text" th:if="__${#locale.language}__=='en'" th:text="${article.englishContent}"></p>
                        </div>
                        <img class="card-img-top p-1" th:src="@{/images/} + ${article.id} + .jpg" alt="picture">


                        <a th:href="@{/detail(id=${article.id})}" class="btn btn-dark w-50 mx-auto my-2">
                            <i class="fas fa-folder-plus"></i>  Details
                        </a>

<!--                </a>-->
                </div>
                <hr>
            </div>

        <hr class="bg-light event-links-sep">
        <div class="event-links mt-5 d-flex justify-content-around flex-wrap">
            <a class="mt-2 btn btn-light" th:href="@{/stages}" th:text="#{all-activities-link}"></a>
            <a class="mt-2 btn btn-light" th:href="@{/contact}">Contact</a>
        </div>
    </section>


    <!--    footer-->

<!--    for nav bg on scroll and resize, only for this page-->
    <script th:src="@{/scripts/navbar.js}"></script>

    <footer th:replace="fragments/footer :: foot">

    </footer>

</div>


</body>
</html>

