<!Doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="fragments/header :: myHeader"></div>
    <title>Home</title>
</head>
<body>
<div class="home-body">
    <header>
        <!--    <div th:replace="fragments/header :: menu"></div>-->
        <nav class="navbar navbar-expand-md fixed-top navbar-dark">
            <a class="navbar-brand" th:href="@{/index}">LOGO</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/index}">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/stages}">Stages</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/actus}">Actus</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/photos}">Photos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/contact}">Contact</a>
                    </li>
                </ul>

            </div>
        </nav>
    </header>


    <div class="text-center home-container">

        <h1 class="text-center">Yoann Georges</h1>
        <h2 class="text-center"> <i class="fas fa-skiing"></i>&nbsp;&nbsp;
            Sorties en Montagne, Escalade, Alpinisme, Ski &nbsp;&nbsp; <i class="fas fa-quidditch"></i> </h2>


        <p class="mt-5 p-5 w-50 text-center text-white m-auto">Cum saepe multa, tum memini domi in hemicyclio sedentem, ut solebat,
            cum et ego essem una et pauci admodum familiares, in eum sermonem illum incidere qui tum forte multis erat in ore.
            Meministi enim profecto, Attice, et eo magis, quod P. Sulpicio utebare multum, cum is tribunus plebis capitali odio a
            Q. Pompeio, qui tum erat consul, dissideret,
            quocum coniunctissime et amantissime vixerat, quanta esset hominum vel admiratio vel querella.</p>
    </div>

<!--    link to the activities to come, scroll down -->
    <div class="next-activities-link">
        <a href="#next-activities">
            Prochaines sorties <br>
            <i class="fas fa-arrow-circle-down"></i>
        </a>
    </div>

<!--    anchor for link-->
    <span id="next-activities"></span>

<!--    list of activities to come-->
    <section class="next-activities text-white">
        <h2>Prochaines sorties :</h2>
        <hr>
        <div class="row d-flex justify-content-around flex-wrap py-4 mt-5">

            <article class="text-center" th:each="article : ${articles}">
                <!-- <h3 th:text="${article.category}"></h3>-->
                <h4 th:text="${article.title}"></h4>
                <h5 th:text="${#temporals.format(article.date, 'dd-MM-yyyy')}"></h5>
                <p th:text="${article.content}"></p>
                <!--        <img th:src="${tempArticle.picture}" alt="pic" width="420">-->
<!--                <img th:src="@{/photos/article/} + ${article.id} + .jpg" alt="picture" width="300" height="200">-->
                <img th:src="@{/images/} + ${article.id} + .jpg" alt="picture" width="300" height="200">
            </article>

        </div>
        <hr>
        <div class="event-links mt-4 d-flex justify-content-around flex-wrap">
            <a th:href="@{/stages}">Toutes les sorties</a>
            <a th:href="@{/contact}">Contact</a>
        </div>
    </section>


    <!--    footer-->
    <div th:replace="fragments/footer :: foot">

    </div>

</div>

    <script th:src="@{/scripts/navbar.js}"></script>

</body>
</html>

