<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: myHeader"></div>
    <title>Stages</title>
</head>
<body>
<header>
    <div th:replace="fragments/header :: menu"></div>
</header>
<div class="container text-center">
    <h1>Training offer</h1>
     <h5 class="">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
         labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
         nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
         cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
         officia deserunt mollit anim id est laborum."</h5>

    <div class="training-wrapper d-flex flex-wrap">
        <div class="summer m-2">
            <a th:href="@{/summer}">
                <h1>Summer</h1>
                <img th:src="@{img/summer.jpg}" width="500" height="300" alt="">
            </a>
        </div>
        <div class="winter m-2">
            <a href="/trainings/summer.html">
                <h1>Winter</h1>
                <img th:src="@{img/winter.jpg}" width="500" height="300" alt="">
            </a>
        </div>
        <div class="spring m-2">
            <a href="trainings/summer.html">
                <h1>Spring</h1>

                <img th:src="@{img/spring.jpg}" width="500" height="300" alt="">
            </a>
        </div>
        <div class="autumn m-2">
            <a href="/trainings/summer.html">
                <h1>Autumn</h1>
                <img th:src="@{img/autumn.jpg}" width="500" height="300" alt="">
            </a>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: foot"></div>
</body>
</html>