<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: myHeader"></div>
    <title>Stages</title>
</head>
<body>
<header>
    <div th:replace="fragments/header :: menu"></div>
</header>

<div class="container text-center trainings-container">
    <h1>Sorties</h1>
     <h5 class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
         labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
         nisi ut aliquip ex ea commodo consequat.</h5>

    <div class="trainings-wrapper d-flex flex-wrap justify-content-between">
        <div class="summer training">
                <h2>été</h2>
                <h3><a th:href="@{/alpinisme}"> &#x2B9A; Alpinisme </a> </h3>
                <h3><a th:href="@{/escalade}"> &#x2B9A; Escalade </a> </h3>
                <img th:src="@{img/summer.jpg}" width="500" height="300" alt="">
        </div>
        <div class="winter training">
                <h2>Hiver</h2>
                <h3><a th:href="@{/horspiste}"> &#x2B9A; Ski hors-piste </a> </h3>
                <h3><a th:href="@{#}"> &#x2B9A; Cascade de Glace </a> </h3>
                <img th:src="@{img/winter.jpg}" width="500" height="300" alt="">
        </div>
        <div class="spring training">
                <h2>Printemps</h2>
                <h3><a th:href="@{#}"> &#x2B9A; Ski de Randonnée </a> </h3>
                <h3><a th:href="@{#}"> &#x2B9A; Escalade </a> </h3>
                <img th:src="@{img/spring.jpg}" width="500" height="300" alt="">
        </div>
        <div class="autumn training">
                <h2>Automne</h2>
            <h3><a th:href="@{#}"> &#x2B9A; Escalade </a> </h3>
            <h3><a th:href="@{#}"> &#x2B9A; Trek </a> </h3>
            <h3><a th:href="@{#}"> &#x2B9A; Himalayisme </a> </h3>
            <img th:src="@{img/autumn.jpg}" width="500" height="300" alt="">
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: foot"></div>
</body>
</html>