<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: myHeader">
    <title>Contact</title>
</head>
<body>
<header>
    <div th:replace="fragments/header :: menu"></div>
</header>
<div class="container text-center">
    <h1>Contactez-moi pour réserver un créneau sur une sortie !</h1>

      <img th:src="@{img/about.jpg}" alt="Person picture" width="600">
    <hr class="m-5">
    <form class="was-validated">
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="validationDefault01">Votre Nom</label>
                <input type="text" class="form-control" id="validationDefault01" placeholder="Votre Nom" required>
            </div>
            <div class="col-md-6 mb-3">
                <label for="validationDefault02">Votre Mail</label>
                <input type="email" class="form-control" id="validationDefault02" placeholder="Votre Mail" required>
            </div>
        </div>
        <div class="mb-3">
            <label for="validationTextarea">Votre Message</label>
            <textarea class="form-control is-invalid" id="validationTextarea" placeholder="Votre message" required></textarea>
        </div>

        <button class="btn btn-primary" type="submit">Send</button>
    </form>
</div>

<div th:replace="fragments/footer :: foot"></div>
</body>
</html>